In [4]:
import sqlite3 as sq
import pandas as pd
import numpy as np

In [17]:
conn = sq.connect('FPA_FOD_20221014.sqlite')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
query = "SELECT * FROM sqlite_master;"
df = pd.read_sql(query, conn)

In [6]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
for table in tables:
    print(table)

('spatial_ref_sys',)
('spatialite_history',)
('sqlite_sequence',)
('geometry_columns',)
('views_geometry_columns',)
('virts_geometry_columns',)
('geometry_columns_statistics',)
('views_geometry_columns_statistics',)
('virts_geometry_columns_statistics',)
('geometry_columns_field_infos',)
('views_geometry_columns_field_infos',)
('virts_geometry_columns_field_infos',)
('geometry_columns_time',)
('geometry_columns_auth',)
('views_geometry_columns_auth',)
('virts_geometry_columns_auth',)
('sql_statements_log',)
('SpatialIndex',)
('NWCG_UnitIdActive_20200123',)
('Fires',)
('idx_Fires_Shape',)
('idx_Fires_Shape_rowid',)
('idx_Fires_Shape_node',)
('idx_Fires_Shape_parent',)

In [6]:
import pandas as pd
query = "SELECT * FROM sqlite_master;"
df = pd.read_sql(query, conn)

In [7]:
print(df.shape)  # Get the number of rows and columns
print(df.info())  # Get column names, non-null counts, and data types
print(df.head())  # Display the first few rows

(117, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      117 non-null    object
 1   name      117 non-null    object
 2   tbl_name  117 non-null    object
 3   rootpage  117 non-null    int64
 4   sql       104 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.7+ KB
None
    type                 name            tbl_name  rootpage  \
0  table      spatial_ref_sys     spatial_ref_sys         2
1  index  idx_spatial_ref_sys     spatial_ref_sys         3
2  table   spatialite_history  spatialite_history         4
3  table      sqlite_sequence     sqlite_sequence         5
4  table     geometry_columns    geometry_columns         6

                                                 sql
0  CREATE TABLE spatial_ref_sys (\nsrid INTEGER N...
1  CREATE UNIQUE INDEX idx_spatial_ref_sys \nON s...
2  CREATE TABLE spatialite_history (\nevent_id IN...
3             CREATE TABLE sqlite_sequence(name,seq)
4  CREATE TABLE geometry_columns (\nf_table_name ...

In [13]:
with open("table_names.txt", "w") as file:
    for table in df:  # Assuming table_names is the list of your tables
        file.write(table + "\n")

In [29]:
cursor.execute("SELECT * FROM Fires LIMIT 5;")
tables = cursor.fetchall()
query = "SELECT * FROM Fires LIMIT 5;"
df = pd.read_sql(query, conn)
print(df.shape)  # Get the number of rows and columns
print(df.info())  # Get column names, non-null counts, and data types
df.head()  # Display the first few rows

(5, 39)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   OBJECTID                       5 non-null      int64
 1   Shape                          5 non-null      object
 2   FOD_ID                         5 non-null      int64
 3   FPA_ID                         5 non-null      object
 4   SOURCE_SYSTEM_TYPE             5 non-null      object
 5   SOURCE_SYSTEM                  5 non-null      object
 6   NWCG_REPORTING_AGENCY          5 non-null      object
 7   NWCG_REPORTING_UNIT_ID         5 non-null      object
 8   NWCG_REPORTING_UNIT_NAME       5 non-null      object
 9   SOURCE_REPORTING_UNIT          5 non-null      object
 10  SOURCE_REPORTING_UNIT_NAME     5 non-null      object
 11  LOCAL_FIRE_REPORT_ID           5 non-null      object
 12  LOCAL_INCIDENT_ID              5 non-null      object
 13  FIRE_CODE                      3 non-null      object
 14  FIRE_NAME                      5 non-null      object
 15  ICS_209_PLUS_INCIDENT_JOIN_ID  0 non-null      object
 16  ICS_209_PLUS_COMPLEX_JOIN_ID   0 non-null      object
 17  MTBS_ID                        0 non-null      object
 18  MTBS_FIRE_NAME                 0 non-null      object
 19  COMPLEX_NAME                   0 non-null      object
 20  FIRE_YEAR                      5 non-null      int64
 21  DISCOVERY_DATE                 5 non-null      object
 22  DISCOVERY_DOY                  5 non-null      int64
 23  DISCOVERY_TIME                 5 non-null      object
 24  NWCG_CAUSE_CLASSIFICATION      5 non-null      object
 25  NWCG_GENERAL_CAUSE             5 non-null      object
 26  NWCG_CAUSE_AGE_CATEGORY        0 non-null      object
 27  CONT_DATE                      5 non-null      object
 28  CONT_DOY                       5 non-null      int64
 29  CONT_TIME                      5 non-null      object
 30  FIRE_SIZE                      5 non-null      float64
 31  FIRE_SIZE_CLASS                5 non-null      object
 32  LATITUDE                       5 non-null      float64
 33  LONGITUDE                      5 non-null      float64
 34  OWNER_DESCR                    5 non-null      object
 35  STATE                          5 non-null      object
 36  COUNTY                         5 non-null      object
 37  FIPS_CODE                      5 non-null      object
 38  FIPS_NAME                      5 non-null      object
dtypes: float64(3), int64(5), object(31)
memory usage: 1.6+ KB
None

,OBJECTID,Shape,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,...,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME
0,1,b'\x00\x01\xad\x10\x00\x00\xc8\xce\n[_@^\xc0\x...,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,...,1730,0.10,A,40.036944,-121.005833,USFS,CA,63,06063,Plumas County
1,2,b'\x00\x01\xad\x10\x00\x00\xc8\xe594\xe2\x19^\...,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,...,1530,0.25,A,38.933056,-120.404444,USFS,CA,61,06061,Placer County
2,3,b'\x00\x01\xad\x10\x00\x00x{\xac \x13/^\xc0@\x...,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,...,2024,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17,06017,El Dorado County
3,4,b'\x00\x01\xad\x10\x00\x00\xc8\x13u\xd7s\xfa]\...,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,...,1400,0.10,A,38.559167,-119.913333,USFS,CA,3,06003,Alpine County
4,5,b'\x00\x01\xad\x10\x00\x00\xd0\x11y\xf8\xb6\xf...,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,...,1200,0.10,A,38.559167,-119.933056,USFS,CA,3,06003,Alpine County

In [23]:
df.head(5)

,OBJECTID,Shape,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,...,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME
0,1,b'\x00\x01\xad\x10\x00\x00\xc8\xce\n[_@^\xc0\x...,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,...,1730,0.1,A,40.036944,-121.005833,USFS,CA,63,06063,Plumas County

In [24]:
query = "SELECT * FROM Fires WHERE FIRE_YEAR > 1995 LIMIT 100;"
df = pd.read_sql(query, conn)
print(df.shape)  # Get the number of rows and columns
print(df.info())  # Get column names, non-null counts, and data types
print(df.head(5))  # Display the first few rows
df.to_csv('over2000.csv', index=False)

(100, 39)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   OBJECTID                       100 non-null    int64
 1   Shape                          100 non-null    object
 2   FOD_ID                         100 non-null    int64
 3   FPA_ID                         100 non-null    object
 4   SOURCE_SYSTEM_TYPE             100 non-null    object
 5   SOURCE_SYSTEM                  100 non-null    object
 6   NWCG_REPORTING_AGENCY          100 non-null    object
 7   NWCG_REPORTING_UNIT_ID         100 non-null    object
 8   NWCG_REPORTING_UNIT_NAME       100 non-null    object
 9   SOURCE_REPORTING_UNIT          100 non-null    object
 10  SOURCE_REPORTING_UNIT_NAME     100 non-null    object
 11  LOCAL_FIRE_REPORT_ID           100 non-null    object
 12  LOCAL_INCIDENT_ID              99 non-null     object
 13  FIRE_CODE                      88 non-null     object
 14  FIRE_NAME                      100 non-null    object
 15  ICS_209_PLUS_INCIDENT_JOIN_ID  3 non-null      object
 16  ICS_209_PLUS_COMPLEX_JOIN_ID   0 non-null      object
 17  MTBS_ID                        2 non-null      object
 18  MTBS_FIRE_NAME                 2 non-null      object
 19  COMPLEX_NAME                   0 non-null      object
 20  FIRE_YEAR                      100 non-null    int64
 21  DISCOVERY_DATE                 100 non-null    object
 22  DISCOVERY_DOY                  100 non-null    int64
 23  DISCOVERY_TIME                 100 non-null    object
 24  NWCG_CAUSE_CLASSIFICATION      100 non-null    object
 25  NWCG_GENERAL_CAUSE             100 non-null    object
 26  NWCG_CAUSE_AGE_CATEGORY        1 non-null      object
 27  CONT_DATE                      99 non-null     object
 28  CONT_DOY                       99 non-null     float64
 29  CONT_TIME                      99 non-null     object
 30  FIRE_SIZE                      100 non-null    float64
 31  FIRE_SIZE_CLASS                100 non-null    object
 32  LATITUDE                       100 non-null    float64
 33  LONGITUDE                      100 non-null    float64
 34  OWNER_DESCR                    100 non-null    object
 35  STATE                          100 non-null    object
 36  COUNTY                         91 non-null     object
 37  FIPS_CODE                      91 non-null     object
 38  FIPS_NAME                      91 non-null     object
dtypes: float64(4), int64(4), object(31)
memory usage: 30.6+ KB
None
   OBJECTID                                              Shape  FOD_ID  \
0         1  b'\x00\x01\xad\x10\x00\x00\xc8\xce\n[_@^\xc0\x...       1
1         2  b'\x00\x01\xad\x10\x00\x00\xc8\xe594\xe2\x19^\...       2
2         3  b'\x00\x01\xad\x10\x00\x00x{\xac \x13/^\xc0@\x...       3
3         4  b'\x00\x01\xad\x10\x00\x00\xc8\x13u\xd7s\xfa]\...       4
4         5  b'\x00\x01\xad\x10\x00\x00\xd0\x11y\xf8\xb6\xf...       5

       FPA_ID SOURCE_SYSTEM_TYPE SOURCE_SYSTEM NWCG_REPORTING_AGENCY  \
0  FS-1418826                FED   FS-FIRESTAT                    FS
1  FS-1418827                FED   FS-FIRESTAT                    FS
2  FS-1418835                FED   FS-FIRESTAT                    FS
3  FS-1418845                FED   FS-FIRESTAT                    FS
4  FS-1418847                FED   FS-FIRESTAT                    FS

  NWCG_REPORTING_UNIT_ID  NWCG_REPORTING_UNIT_NAME SOURCE_REPORTING_UNIT  ...  \
0                USCAPNF    Plumas National Forest                  0511  ...
1                USCAENF  Eldorado National Forest                  0503  ...
2                USCAENF  Eldorado National Forest                  0503  ...
3                USCAENF  Eldorado National Forest                  0503  ...
4                USCAENF  Eldorado National Forest                  0503  ...

  CONT_TIME FIRE_SIZE FIRE_SIZE_CLASS   LATITUDE   LONGITUDE  \
0      1730      0.10               A  40.036944 -121.005833
1      1530      0.25               A  38.933056 -120.404444
2      2024      0.10               A  38.984167 -120.735556
3      1400      0.10               A  38.559167 -119.913333
4      1200      0.10               A  38.559167 -119.933056

        OWNER_DESCR STATE COUNTY FIPS_CODE         FIPS_NAME
0              USFS    CA     63     06063     Plumas County
1              USFS    CA     61     06061     Placer County
2  STATE OR PRIVATE    CA     17     06017  El Dorado County
3              USFS    CA      3     06003     Alpine County
4              USFS    CA      3     06003     Alpine County

[5 rows x 39 columns]

In [25]:
query = "SELECT count(*) FROM Fires;"
df = pd.read_sql(query, conn)
print(df.shape)  # Get the number of rows and columns
print(df.info())  # Get column names, non-null counts, and data types
print(df.head(5))  # Display the first few rows

(1, 1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   count(*)  1 non-null      int64
dtypes: int64(1)
memory usage: 136.0 bytes
None
   count(*)
0   2303566

In [26]:
query = "SELECT FIRE_YEAR, count(*) FROM Fires GROUP BY FIRE_YEAR;"
df = pd.read_sql(query, conn)
print(df.shape)  # Get the number of rows and columns
print(df.info())  # Get column names, non-null counts, and data types
print(df.head(40))  # Display the first few rows

(29, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FIRE_YEAR  29 non-null     int64
 1   count(*)   29 non-null     int64
dtypes: int64(2)
memory usage: 592.0 bytes
None
    FIRE_YEAR  count(*)
0        1992     67961
1        1993     61975
2        1994     75932
3        1995     71440
4        1996     75561
5        1997     61442
6        1998     68356
7        1999     89350
8        2000     96396
9        2001     87001
10       2002     76128
11       2003     68275
12       2004     69370
13       2005     92921
14       2006    117943
15       2007     98837
16       2008     88306
17       2009     81492
18       2010     85579
19       2011     98903
20       2012     74258
21       2013     66434
22       2014     70480
23       2015     77275
24       2016     81993
25       2017     82279
26       2018     80860
27       2019     63557
28       2020     73262

In [27]:
# query = "SELECT * FROM Fires;"
# df = pd.read_sql(query, conn)
# print(df.shape)  # Get the number of rows and columns
# print(df.info())  # Get column names, non-null counts, and data types
# print(df.head(5))  # Display the first few rows
# df.to_csv('fires.csv', index=False)

(2303566, 39)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2303566 entries, 0 to 2303565
Data columns (total 39 columns):
 #   Column                         Dtype
---  ------                         -----
 0   OBJECTID                       int64
 1   Shape                          object
 2   FOD_ID                         int64
 3   FPA_ID                         object
 4   SOURCE_SYSTEM_TYPE             object
 5   SOURCE_SYSTEM                  object
 6   NWCG_REPORTING_AGENCY          object
 7   NWCG_REPORTING_UNIT_ID         object
 8   NWCG_REPORTING_UNIT_NAME       object
 9   SOURCE_REPORTING_UNIT          object
 10  SOURCE_REPORTING_UNIT_NAME     object
 11  LOCAL_FIRE_REPORT_ID           object
 12  LOCAL_INCIDENT_ID              object
 13  FIRE_CODE                      object
 14  FIRE_NAME                      object
 15  ICS_209_PLUS_INCIDENT_JOIN_ID  object
 16  ICS_209_PLUS_COMPLEX_JOIN_ID   object
 17  MTBS_ID                        object
 18  MTBS_FIRE_NAME                 object
 19  COMPLEX_NAME                   object
 20  FIRE_YEAR                      int64
 21  DISCOVERY_DATE                 object
 22  DISCOVERY_DOY                  int64
 23  DISCOVERY_TIME                 object
 24  NWCG_CAUSE_CLASSIFICATION      object
 25  NWCG_GENERAL_CAUSE             object
 26  NWCG_CAUSE_AGE_CATEGORY        object
 27  CONT_DATE                      object
 28  CONT_DOY                       float64
 29  CONT_TIME                      object
 30  FIRE_SIZE                      float64
 31  FIRE_SIZE_CLASS                object
 32  LATITUDE                       float64
 33  LONGITUDE                      float64
 34  OWNER_DESCR                    object
 35  STATE                          object
 36  COUNTY                         object
 37  FIPS_CODE                      object
 38  FIPS_NAME                      object
dtypes: float64(4), int64(4), object(31)
memory usage: 685.4+ MB
None
   OBJECTID                                              Shape  FOD_ID  \
0         1  b'\x00\x01\xad\x10\x00\x00\xc8\xce\n[_@^\xc0\x...       1
1         2  b'\x00\x01\xad\x10\x00\x00\xc8\xe594\xe2\x19^\...       2
2         3  b'\x00\x01\xad\x10\x00\x00x{\xac \x13/^\xc0@\x...       3
3         4  b'\x00\x01\xad\x10\x00\x00\xc8\x13u\xd7s\xfa]\...       4
4         5  b'\x00\x01\xad\x10\x00\x00\xd0\x11y\xf8\xb6\xf...       5

       FPA_ID SOURCE_SYSTEM_TYPE SOURCE_SYSTEM NWCG_REPORTING_AGENCY  \
0  FS-1418826                FED   FS-FIRESTAT                    FS
1  FS-1418827                FED   FS-FIRESTAT                    FS
2  FS-1418835                FED   FS-FIRESTAT                    FS
3  FS-1418845                FED   FS-FIRESTAT                    FS
4  FS-1418847                FED   FS-FIRESTAT                    FS

  NWCG_REPORTING_UNIT_ID  NWCG_REPORTING_UNIT_NAME SOURCE_REPORTING_UNIT  ...  \
0                USCAPNF    Plumas National Forest                  0511  ...
1                USCAENF  Eldorado National Forest                  0503  ...
2                USCAENF  Eldorado National Forest                  0503  ...
3                USCAENF  Eldorado National Forest                  0503  ...
4                USCAENF  Eldorado National Forest                  0503  ...

  CONT_TIME FIRE_SIZE FIRE_SIZE_CLASS   LATITUDE   LONGITUDE  \
0      1730      0.10               A  40.036944 -121.005833
1      1530      0.25               A  38.933056 -120.404444
2      2024      0.10               A  38.984167 -120.735556
3      1400      0.10               A  38.559167 -119.913333
4      1200      0.10               A  38.559167 -119.933056

        OWNER_DESCR STATE COUNTY FIPS_CODE         FIPS_NAME
0              USFS    CA     63     06063     Plumas County
1              USFS    CA     61     06061     Placer County
2  STATE OR PRIVATE    CA     17     06017  El Dorado County
3              USFS    CA      3     06003     Alpine County
4              USFS    CA      3     06003     Alpine County

[5 rows x 39 columns]

In [35]:
conn.close()

In [28]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

In [29]:
profile = ProfileReport(df, title="Wildfires_Fires_Profile_Report")

In [ ]:
profile.to_file("Wildfires_Fires_Profile_Report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [15]:
cursor.execute("SELECT * FROM spatial_ref_sys LIMIT 5;")
tables = cursor.fetchall()
query = "SELECT * FROM spatial_ref_sys LIMIT 5;"
df = pd.read_sql(query, conn)
print(df.shape)  # Get the number of rows and columns
print(df.info())  # Get column names, non-null counts, and data types
print(df.head())  # Display the first few rows

(5, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   srid          5 non-null      int64
 1   auth_name     5 non-null      object
 2   auth_srid     5 non-null      int64
 3   ref_sys_name  5 non-null      object
 4   proj4text     5 non-null      object
 5   srtext        5 non-null      object
dtypes: int64(2), object(4)
memory usage: 368.0+ bytes
None
   srid auth_name  auth_srid                              ref_sys_name  \
0    -1      NONE         -1                     Undefined - Cartesian
1     0      NONE          0           Undefined - Geographic Long/Lat
2  2000      epsg       2000  Anguilla 1957 / British West Indies Grid
3  2001      epsg       2001   Antigua 1943 / British West Indies Grid
4  2002      epsg       2002  Dominica 1945 / British West Indies Grid

                                           proj4text  \
0
1
2  +proj=tmerc +lat_0=0 +lon_0=-62 +k=0.999500000...
3  +proj=tmerc +lat_0=0 +lon_0=-62 +k=0.999500000...
4  +proj=tmerc +lat_0=0 +lon_0=-62 +k=0.999500000...

                                              srtext
0                                          Undefined
1                                          Undefined
2  PROJCS["Anguilla 1957 / British West Indies Gr...
3  PROJCS["Antigua 1943 / British West Indies Gri...
4  PROJCS["Dominica 1945 / British West Indies Gr...

In [19]:
cursor.execute("SELECT * FROM spatialite_history LIMIT 5;")
tables = cursor.fetchall()
query = "SELECT * FROM spatialite_history LIMIT 5;"
df = pd.read_sql(query, conn)
print(df.shape)  # Get the number of rows and columns
print(df.info())  # Get column names, non-null counts, and data types
df.head()  # Display the first few rows

(5, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event_id         5 non-null      int64
 1   table_name       5 non-null      object
 2   geometry_column  0 non-null      object
 3   event            5 non-null      object
 4   timestamp        5 non-null      object
 5   ver_sqlite       5 non-null      object
 6   ver_splite       5 non-null      object
dtypes: int64(1), object(6)
memory usage: 408.0+ bytes
None

,event_id,table_name,geometry_column,event,timestamp,ver_sqlite,ver_splite
0,1,spatial_ref_sys,None,table successfully created,2022-11-08T22:31:28.615Z,3.38.2,4.0.0
1,2,geometry_columns,None,table successfully created,2022-11-08T22:31:28.632Z,3.38.2,4.0.0
2,3,geometry_columns,None,trigger 'geometry_columns_f_table_name_insert'...,2022-11-08T22:31:28.654Z,3.38.2,4.0.0
3,4,geometry_columns,None,trigger 'geometry_columns_f_table_name_update'...,2022-11-08T22:31:28.669Z,3.38.2,4.0.0
4,5,geometry_columns,None,trigger 'geometry_columns_f_geometry_column_in...,2022-11-08T22:31:28.683Z,3.38.2,4.0.0

In [20]:
cursor.execute("SELECT * FROM sqlite_sequence LIMIT 5;")
tables = cursor.fetchall()
query = "SELECT * FROM sqlite_sequence LIMIT 5;"
df = pd.read_sql(query, conn)
print(df.shape)  # Get the number of rows and columns
print(df.info())  # Get column names, non-null counts, and data types
df.head()  # Display the first few rows

(3, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   seq     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None

                         name      seq
0          spatialite_history       24
1  NWCG_UnitIdActive_20200123     5971
2                       Fires  2303566

In [21]:
cursor.execute("SELECT * FROM NWCG_UnitIdActive_20200123 LIMIT 5;")
tables = cursor.fetchall()
query = "SELECT * FROM NWCG_UnitIdActive_20200123 LIMIT 5;"
df = pd.read_sql(query, conn)
print(df.shape)  # Get the number of rows and columns
print(df.info())  # Get column names, non-null counts, and data types
df.head()  # Display the first few rows

(5, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OBJECTID        5 non-null      int64
 1   UnitId          5 non-null      object
 2   GeographicArea  5 non-null      object
 3   Gacc            5 non-null      object
 4   WildlandRole    5 non-null      object
 5   UnitType        5 non-null      object
 6   Department      0 non-null      object
 7   Agency          0 non-null      object
 8   Parent          0 non-null      object
 9   Country         5 non-null      object
 10  State           5 non-null      object
 11  Code            5 non-null      object
 12  Name            5 non-null      object
dtypes: int64(1), object(12)
memory usage: 648.0+ bytes
None

,OBJECTID,UnitId,GeographicArea,Gacc,WildlandRole,UnitType,Department,Agency,Parent,Country,State,Code,Name
0,1,AUACACTI,IN,AUVIVIIC,Incident Host Geographic,International Country Subdivision(State/Province),None,None,None,AU,AC,ACTI,Australian Capital Territory Rural Fire Service
1,2,AUNSNSWI,IN,AUVIVIIC,Incident Host Geographic,International Country Subdivision(State/Province),None,None,None,AU,NS,NSWI,New South Wales Rural Fire Service
2,3,AUQLQUI,IN,AUVIVIIC,Incident Host Geographic,International Country Subdivision(State/Province),None,None,None,AU,QL,QUI,Queensland Fire and Emergency Services
3,4,AUSASAI,IN,AUVIVIIC,Incident Host Geographic,International Country Subdivision(State/Province),None,None,None,AU,SA,SAI,Fire Management Branch
4,5,AUVICFA,IN,AUVIVIIC,Incident Host Geographic,International Country Subdivision(State/Province),None,None,None,AU,VI,CFA,Country Fire Authority

In [24]:
conn.close()

In [25]:
del(df)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   OBJECTID                       5 non-null      int64
 1   Shape                          5 non-null      object
 2   FOD_ID                         5 non-null      int64
 3   FPA_ID                         5 non-null      object
 4   SOURCE_SYSTEM_TYPE             5 non-null      object
 5   SOURCE_SYSTEM                  5 non-null      object
 6   NWCG_REPORTING_AGENCY          5 non-null      object
 7   NWCG_REPORTING_UNIT_ID         5 non-null      object
 8   NWCG_REPORTING_UNIT_NAME       5 non-null      object
 9   SOURCE_REPORTING_UNIT          5 non-null      object
 10  SOURCE_REPORTING_UNIT_NAME     5 non-null      object
 11  LOCAL_FIRE_REPORT_ID           5 non-null      object
 12  LOCAL_INCIDENT_ID              5 non-null      object
 13  FIRE_CODE                      3 non-null      object
 14  FIRE_NAME                      5 non-null      object
 15  ICS_209_PLUS_INCIDENT_JOIN_ID  0 non-null      object
 16  ICS_209_PLUS_COMPLEX_JOIN_ID   0 non-null      object
 17  MTBS_ID                        0 non-null      object
 18  MTBS_FIRE_NAME                 0 non-null      object
 19  COMPLEX_NAME                   0 non-null      object
 20  FIRE_YEAR                      5 non-null      int64
 21  DISCOVERY_DATE                 5 non-null      object
 22  DISCOVERY_DOY                  5 non-null      int64
 23  DISCOVERY_TIME                 5 non-null      object
 24  NWCG_CAUSE_CLASSIFICATION      5 non-null      object
 25  NWCG_GENERAL_CAUSE             5 non-null      object
 26  NWCG_CAUSE_AGE_CATEGORY        0 non-null      object
 27  CONT_DATE                      5 non-null      object
 28  CONT_DOY                       5 non-null      int64
 29  CONT_TIME                      5 non-null      object
 30  FIRE_SIZE                      5 non-null      float64
 31  FIRE_SIZE_CLASS                5 non-null      object
 32  LATITUDE                       5 non-null      float64
 33  LONGITUDE                      5 non-null      float64
 34  OWNER_DESCR                    5 non-null      object
 35  STATE                          5 non-null      object
 36  COUNTY                         5 non-null      object
 37  FIPS_CODE                      5 non-null      object
 38  FIPS_NAME                      5 non-null      object
dtypes: float64(3), int64(5), object(31)
memory usage: 1.6+ KB

In [13]:
query = "SELECT NWCG_GENERAL_CAUSE, avg(FIRE_SIZE) FROM Fires GROUP BY NWCG_GENERAL_CAUSE ORDER BY 2 DESC;"
df = pd.read_sql(query, conn)
df

                            NWCG_GENERAL_CAUSE  avg(FIRE_SIZE)
0                                      Natural      322.733929
1                  Firearms and explosives use      237.010874
2   Power generation/transmission/distribution      107.500738
3      Missing data/not specified/undetermined       56.383735
4                    Equipment and vehicle use       52.205821
5                      Recreation and ceremony       46.792310
6                                 Other causes       42.564584
7                           Arson/incendiarism       33.609560
8                                    Fireworks       29.430753
9          Railroad operations and maintenance       25.328746
10                                     Smoking       14.787225
11                     Debris and open burning       14.543816
12                   Misuse of fire by a minor        7.410340

In [22]:
conn = sq.connect('FPA_FOD_20221014.sqlite')
cursor = conn.cursor()
query = "SELECT NWCG_GENERAL_CAUSE, avg(FIRE_SIZE) FROM Fires GROUP BY NWCG_GENERAL_CAUSE ORDER BY 2 DESC;"
df = pd.read_sql(query, conn)
df.to_csv(f'{query}.csv', index=False)
df

                            NWCG_GENERAL_CAUSE  avg(FIRE_SIZE)
0                                      Natural      322.733929
1                  Firearms and explosives use      237.010874
2   Power generation/transmission/distribution      107.500738
3      Missing data/not specified/undetermined       56.383735
4                    Equipment and vehicle use       52.205821
5                      Recreation and ceremony       46.792310
6                                 Other causes       42.564584
7                           Arson/incendiarism       33.609560
8                                    Fireworks       29.430753
9          Railroad operations and maintenance       25.328746
10                                     Smoking       14.787225
11                     Debris and open burning       14.543816
12                   Misuse of fire by a minor        7.410340

In [23]:
conn.close()

In [27]:
conn = sq.connect('FPA_FOD_20221014.sqlite')
cursor = conn.cursor()
query = """
SELECT NWCG_GENERAL_CAUSE, COUNT(NWCG_GENERAL_CAUSE) as Frequency
FROM Fires
GROUP BY NWCG_GENERAL_CAUSE
"""
df = pd.read_sql(query, conn)
mode_df = df[df['Frequency'] == df['Frequency'].max()]
# Save to CSV (replacing problematic characters in the filename)

print(mode_df)

                        NWCG_GENERAL_CAUSE  Frequency
5  Missing data/not specified/undetermined     597933

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NWCG_GENERAL_CAUSE  13 non-null     object
 1   Frequency           13 non-null     int64
dtypes: int64(1), object(1)
memory usage: 336.0+ bytes